
li(id="#{assignment.id}") <strong>Assignment:</strong> #{assignment.assignment_name} <strong>Student:</strong> #{assignment.student_identity} <strong>Score:</strong> #{assignment.score} <strong>Completed:</strong> #{assignment.date_completed}